@mixin light-theme {
  --background-color: #eee;
  --background: url(/bg.gif) var(--background-color);
  --foreground-color: #666;
  --highlight-color: #db2333;
}

@mixin dark-theme {
  --background-color: #1e2026;
  --background: var(--background-color);
  --foreground-color: #fff;
  --highlight-color: #9f111b;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Montserrat&display=swap");

:root {
  @include light-theme;
  --small-font-size: 0.8rem;
  --medium-font-size: 1rem;
  --large-font-size: 1.2rem;
  --xlarge-font-size: 1.4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    @include dark-theme;
  }
}

.dark {
  @include dark-theme;
}

.light {
  @include light-theme;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--background);
  font-weight: 400;
  letter-spacing: 0.04rem;
  font-family: "IBM Plex Mono", monospace;
}

body {
  border-top: 0.5rem solid var(--highlight-color);
  padding: 0 2rem;
}

p {
  font-size: var(--medium-font-size);
  line-height: 1.5;
  color: var(--foreground-color);
}

pre {
  font-size: var(--small-font-size);
  line-height: 1.5;
  color: var(--foreground-color);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--highlight-color);
  transition: all 50ms ease;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

h1 {
  font-size: var(--xlarge-font-size);
  text-align: center;
  line-height: 5;
  span {
    border-bottom: 0.1rem solid var(--highlight-color);
  }
}

h2 {
  font-size: var(--large-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  max-width: 64rem;
  margin: 0 auto;
}

.small {
  font-size: var(--small-font-size);
}

.highlight {
  color: var(--highlight-color);
}
